<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
  <ion-content class="padding">

      
      <label class="item item-input" style="margin-top:10px">
        <input id="inputcode" ng-model="data.code" style="font-size:20px; height:48px" type="text" placeholder="Enter the code here">
      </label>
      <button class="button button-large button-calm" style="margin-top:20px; height:48px;" ng-click="enterCode()">
        Sync
      </button>


  </ion-content>
</ion-view>
