<ion-view hide-nav-bar="true" hide-back-button="true" view-title="welcome">
  <ion-content>
    <ion-list>
      <div class="card">
        <div class="item item-text-wrap" style="text-align: center;">
          Jae enjoys contributing his time to experiment with various methods 
to create unique experiences for people with interactive components.  
The interactive components consist of communication art components 
with network programming and data visualization components with 
machine learning algorithms. 

          <div class="name">
            Made by <a target="_blank" href="https://sites.google.com/site/semanticdatas/">JaeHyunYoo</a>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
