<ion-tabs class="tabs-striped tabs-background-dark tabs-stable">

  <ion-tab title="Quest" icon="icon ion-clipboard" href="#/tab/quest">
    <ion-nav-view name="tab-quest"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Belt" icon="icon ion-ribbon-a" href="#/tab/belt">
    <ion-nav-view name="tab-belt"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Item" icon="icon ion-briefcase" href="#/tab/item">
    <ion-nav-view name="tab-item"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Item" icon="icon ion-woman" href="#/tab/gf">
    <ion-nav-view name="tab-gf"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Item" icon="icon ion-bag" href="#/tab/store">
    <ion-nav-view name="tab-store"></ion-nav-view>
  </ion-tab>

</ion-tabs>
